.gameInfoMain {
	background: #232222;
	transform: translateY(180px);
   padding-top: 20px;
   padding-bottom: 90px;
   min-height: 100vh;
}

.header {
	display: flex;
	align-items: center;
	gap: 15px;
}

.head {
   width: 100%;
}

.titleHead {
   display: flex;
   align-items: center;
   gap: 5px;
}

.header > img {
	width: 72px;
	height: 72px;
	object-fit: cover;
	border-radius: 0.75rem;
   aspect-ratio: 1 / 1;
}

.carousels {
	margin-top: 15px;
	display: flex;
	gap: 15px;
}

.count {
	font-size: 0.8rem;
	color: rgb(156 163 175);
}

.card {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 20px;
   border: 1px solid rgb(146, 146, 146);
   border-radius: 0.75rem;
   transition: .3s ease;
   text-align: center;
   font-size: 0.7rem;
}

.periods {
   margin-top: 15px;
   overflow-y: hidden;
}

.slide {
   width: fit-content !important;
}

.period {
   width: fit-content;
   padding: 10px 30px;
   min-width: fit-content;
   border: 1px solid rgb(146, 146, 146);
   border-radius: 0.75rem;
   transition: .3s ease;
   position: relative;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.period > img {
   position: absolute;
   z-index: -2;
   inset: 0;
   filter: brightness(30%);
}

.period > p {
   text-align: center;
   font-size: 1rem;
   color: rgb(255, 255, 255);
   font-weight: 600;
   transition: color .3s ease;
}

.period > span {
   text-align: center;
   font-size: 0.7rem;
   font-weight: 500;
   margin-top: 5px;
}

.active {
   border: 1px solid #149a45;
}

.active > p {
   color: #149a45;
}

.desc {
	margin-top: 20px !important;
   line-height: 1.15rem;
	color: #fff;
   white-space: pre-wrap;
}