.infoWindow {
    padding: 15px 30px;
    text-align: center;
    backdrop-filter: blur(4px) opacity(0.2);
    background-color: rgb(55 65 81 / 0.6);
    border-radius: 10px;
    display: grid;
    gap: 10px;
}

.productCount {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 18px;
}