.infoWindow {
    padding: 15px 30px;
    text-align: center;
    backdrop-filter: blur(4px) opacity(0.2);
    background-color: rgb(55 65 81 / 0.6);
    border-radius: 10px;
    display: grid;
    gap: 10px;
}

.infoTitle {
    font-size: 0.95rem;
}

.productCount {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 18px;
}

/* PRODUCTS FEED */
.feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 16px;
}

.categories {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    width: 100%;
    margin: 15px 0 0 14px;
}

.categories > button {
    background: #273446;
    padding: 5px 20px;
    border-radius: 9999px;
    min-width: fit-content;
}

.categories > .activeCategory {
    background: rgb(2, 110, 2);
}

.feed > div {
    height: 235px;
}

@media (max-width: 480px) {
    .feed {
        gap: 0.7rem;
        margin: 12px;
    }
}

@media (max-width: 400px) {
    .feed {
        grid-template-columns: repeat(2, 1fr);
    }
}