.backdrop {
	position: fixed;
	inset: 0;
	z-index: 999;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	background-color: rgba(0, 0, 0, 0.45);
}

.modal {
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	bottom: 80px;
	top: auto;
}

.closeModalBtn {
	width: 100%;
	margin-top: 0.2rem;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 700;
	border-radius: 0.5rem;
	padding: 0.75rem;
	background: rgb(55 65 81 / 85%);
}
