.backdrop {
	position: fixed;
	inset: 0;
	z-index: 999;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	background-color: rgb(17 24 39 / 0.5);
}

.modal {
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	bottom: 80px;
	top: auto;
}

.newAccModal {
	top: 36%;
	bottom: 50%;
}

.hr {
	width: 100%;
	border: 1px solid rgba(113, 113, 113, 0.55);
	margin-bottom: 10px;
}

.modalButtons {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.modalButtons button {
	width: 100%;
	display: flex;
	justify-content: center;
	background: rgb(59, 69, 86);
}

.closeModalBtn {
	width: 100%;
	margin-top: 0.2rem;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 700;
	border-radius: 0.5rem;
	padding: 0.75rem;
	background: rgb(55 65 81 / 85%);
}
