/* NEW ACC MODAL */
.hr {
	width: 100%;
	border: 1px solid rgba(113, 113, 113, 0.351);
	margin-bottom: 10px;
}

.modalButtons {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.modalButtons button {
	width: 100%;
	display: flex;
	justify-content: center;
	background: rgb(59, 69, 86);
}
/* ================== */

.categoryTitle {
	margin: 1rem 0;
	font-size: 1.8rem;
	line-height: 2rem;
	overflow: hidden;
}

.subInfo {
	position: absolute;
	top: 70px;
	width: 100%;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.subInfo > p, .subNotFound > div >p {
	font-weight: 500;
	text-align: center;
}

.xboxLabel {
	position: relative;
	width: 130px;
	height: 120px;
}

.xboxLabel > img {
	width: 100%;
	height: 100%;
}

.remainDays {
	position: absolute;
	top: 45%;
	left: 57%;
	transform: translate(-50%, -50%);
}

.remainDays > p {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	line-height: 1.7rem;
}

.remainDays > p > span {
	color: #fff;
	font-size: 1.3rem;
}

.dayOfExpire {
	margin-top: 10px;
	padding: 12px 0;
	width: 100%;
	background: rgba(255 255 255 / 0.05);
	border: 1px solid rgba(255 255 255 / 0.05);
	border-radius: 8px;
	backdrop-filter: blur(8px);
	text-align: center;
}

.subNotFound {
	width: 60%;
}

.gamePassTitle {
	text-align: center;
}

.subscribe {
	margin-top: 15px;
	display: flex;
	gap: 15px;
}

.subscribe > button {
	white-space: unset;
	background-color: rgb(55 65 81 / 0.45);
	font-size: 0.6rem;
	padding: 5px 8px;

	width: 50%;
	display: flex;
	justify-content: center;
}

.subsMainBg {
	position: relative;
	min-height: 220px;
}

.subsMainBg h3 {
	position: absolute;
	z-index: 1;
}

.subsMainBg .backDrop {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background: rgb(0 0 0 / 0.5);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

.firstSub > div > div:has(h2) {
	padding: 13px;
	display: flex;
	justify-content: space-between;
}

.inlineSubs {
	margin-top: 28px !important;
	display: flex;
	gap: 15px;
}

.inlineSubs > div > img {
	max-height: 230px;
}

.inlineSubs > div {
	flex: 1;
}

.inlineSubs > div > div > h2, .firstSub > div > div > h2 {
	max-height: fit-content;
}

.subs {
	margin-top: 28px !important;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.subs > div {
	height: 250px;
}

@media (max-width: 420px) {
	.xboxLabel {
		width: 115px;
		height: 100px;
	}

	.remainDays > p {
		font-size: 1.4rem;
		line-height: 1.35rem;
	}

	.remainDays > p > span {
		font-size: 1.1rem;
	}

	.gamePassTitle {
		font-size: 1.2rem;
	}

	.dayOfExpire {
		font-size: 0.8rem;
	}

	.subscribe {
		margin-top: 10px;
	}

	.subscribe > button {
		font-size: 0.55rem;
	}
}

@media (max-width: 340px) {
	.gamePassTitle {
		font-size: 1rem;
	}
}