.gameInfoCont {
	position: relative;
}

.editButton {
	position: absolute;
	top: 19px;
	right: 50px;
}

.gameInfoMainImgCont {
	position: fixed;
	max-height: 250px;
	height: 100%;
	width: 100%;
}

.gameInfoMainImg {
	height: 100%;
	object-fit: cover;
}

.gamePriceCont {
	position: absolute;
	background: #232222c2;
	border-radius: 1.5rem;
	padding: 7px 16px;
	right: 1rem;
	bottom: 5rem;
	width: max-content;
}

.gamePriceCont:has(.discount) {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.gamePriceCont:has(.discount) .discount {
	color: #efd000;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 2rem;
}

.gamePriceCont .price {
	color: #fff;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 2rem;
}

.gamePriceCont:has(.discount) .price {
	text-decoration: line-through;
	font-size: 1.1rem;
}

.gameInfoMain {
	padding-top: 20px;
	padding-bottom: 90px;
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
	background: #232222;
	transform: translateY(180px);
}

.header {
	display: flex;
	align-items: center;
	gap: 15px;
}

.header > img {
	width: 72px;
	height: 72px;
	object-fit: cover;
	border-radius: 0.75rem;
}

.carousels {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.count {
	font-size: 0.85rem;
	color: rgb(156 163 175);
}

.desc {
	margin-top: 20px;
}

.desc > p {
	font-size: 0.85rem;
	margin-top: 5px;
	color: rgb(156 163 175);
}

