.gameInfoCont {
	position: relative;
}

.editButton {
	position: absolute;
	top: 19px;
	right: 50px;
}

.gameInfoHeader {
	padding: 1rem 0 0;
	position: sticky;
	top: -191px;
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
	z-index: 5;
	background: rgb(35 34 34);
	transform: translateY(181px);
}

.gameInfoHeaderLinks {
	display: flex;
	justify-content: space-between;
	padding: 0 9px;
	align-items: center;
	position: relative;
}

.gameInfoHeader .navBtn {
	text-decoration: none;
	display: block;
	font-size: 0.85rem;
	line-height: 1.06rem;
	font-weight: 700;
	width: max-content;
	padding-bottom: 8px;
	color: #6b7280;
}

.gameInfoHeader .navBtn.active {
	color: #fff;
}

.activeBar {
	position: absolute;
	height: 2px;
	background: white;
	bottom: 0px;
	transition: left .3s ease, width .2s ease;
}

.gameInfoMainImgCont {
	position: fixed;
	max-height: 250px;
	height: 100%;
	width: 100%;
}

.gameInfoMainImg {
	height: 100%;
	object-fit: cover;
}

.gamePriceCont {
	position: absolute;
	padding: 7px 16px;
	right: 1rem;
	bottom: 5rem;
	width: max-content;
   display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
   background: #232222c2;
   border-radius: 1.5rem;
}

.gamePriceCont .price {
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	line-height: 2rem;
}